<div class="user-links dropdown">
	<span class="username dropdown-trigger">
		<%= current_user.name %>
		<i class="fa fa-chevron-circle-down"></i>
	</span>
</div>
<div class="navbar-dashboard">
  <%= link_to "Back to Dashboard",  "https://dashboard.wyncode.co/" %>
</div>