$wyncode-blue: #03D1FC;
$wyncode-red: #FA696F;
$wyncode-green: #C5D38D;
$wyncode-black: #4d4d4d;
$wyncode-grey: #888;
$wyncode-light-grey: #eee;
$wyncode-yellow: #FFCC66;

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  src: local('Rajdhani Medium'), local('Rajdhani-Medium'), url(https://fonts.gstatic.com/s/rajdhani/v5/fMdPRPskyY3ckg8ymVQ5NrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'), url(https://fonts.gstatic.com/s/rajdhani/v5/kcO_Mk7pjy8jlu86STaVz7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

$font-family: "Rajdhani", Helvetica, Arial, sans-serif;

$border-radius: 3px;
@import "font-awesome";

@import 'base/reset';
@import 'base/syntax';

@import 'utils/utils';
@import 'utils/forms';
@import 'utils/avatar';
@import 'utils/dropdown';
@import 'utils/progressbar';
@import 'utils/flash';
@import 'utils/tooltip';
@import 'utils/syntax_highlighting';
@import 'utils/tag';
@import 'utils/comment';

@import 'application/typography';
@import 'application/layout';
@import 'application/navbar';
@import 'application/notifications';
@import 'application/course_dashboard';
@import 'application/happening_today';
@import 'application/cohort_dashboard_nav';
@import 'application/login';
@import 'application/unit_dashboard';
@import 'application/task_dashboard';
@import 'application/rubric';
@import 'application/admin-panel';
@import 'application/cohort-submissions';
@import 'application/instant-feedback';
@import 'application/admin-cohort'; 

@import 'monokai-sublime';



.report-issue {
	color: $wyncode-grey;
	font-weight: bold;
	font-size: .8rem;
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 999;
}
